<div class="col-md-6 col-lg-4">
  <div class="card card-blog card-atv">
    <div class="card-image">
      <%= link_to product_path(product) do %>
        <div class="atvImg">
          <%= render_product_image_medium(product) %>
        </div>
      <% end %>
    </div>

    <div class="card-content">
      <span class="label label-info">
        <%= product.category.name %>
      </span>
      <span id="favorites-<%= product.id %>">
        <%= render "products/favorites_small", product: product %>
      </span>
      <h4 class="card-title">
        <%= link_to product.title, product_path(product) %>
      </h4>
      <p class="card-description">
        <%= render_product_description(product) %>
      </p>
      <div class="footer">
        <div class="author">
           <a href="#">
            <img src="https://ws1.sinaimg.cn/large/62291a6ejw1e8qgp5bmzyj2050050aa8.jpg" alt="#" class="avatar img-raised">
            <span>shell</span>
          </a>
        </div>
        <div class="price">
          <small>￥</small>
          <%= render_price(product.price) %>
        </div>
      </div>
    </div>
  </div>
</div>
